body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:  yellow;
    color: Black;
    padding: 20px;
    text-align: center;
}

header .logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

nav a {
    color: darkblue;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

.content-image {
    max-width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

footer {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 10px 0;
}
